{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Infid</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <style>
            @font-face {
                font-family: Poppins;
                src: url("{% static 'fonts/poppins.ttf' %}");
            }
        </style>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg text-white navbar-dark" style="background-color: #152636; font-family: Poppins;">
            <div class="container-fluid d-flex">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'LogoInfid.png' %}" alt="Logo" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 0.9rem;">
                        <li class="nav-item d-flex align-self-center mr-1">
                            <a class="nav-link text-white text-center" href="#">Vaksinasi<br>COVID-19</a>
                        </li>
                        <li class="nav-item d-flex align-self-center mr-1">
                            <a class="nav-link text-white text-center" href="#">Layanan<br>Isolasi Mandiri</a>
                        </li>
                        <li class="nav-item d-flex align-self-center mr-1">
                            <a class="nav-link text-white text-center" href="#">Tim Pakar<br>COVID-19</a>
                        </li>
                        <li class="nav-item d-flex align-self-center mr-1">
                            <a class="nav-link text-white text-center" href="#">Kontak<br>Layanan</a>
                        </li>
                        <li class="nav-item d-flex align-self-center mr-1">
                            <a class="nav-link text-white text-center" href="#">Persebaran<br>Data</a>
                        </li>
                        <li class="nav-item d-flex align-self-center mr-1">
                            <a class="nav-link text-white text-center" href="#">Edukasi<br>Protokol</a>
                        </li>
                        <li class="nav-item d-flex align-self-center">
                            <a class="nav-link text-white text-center" href="#">Beranda</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button type="button" class="btn btn-link text-white">Sign Up</button>
                        <button class="btn btn-outline-success ml-3 text-dark px-3" style="background-color: #00ADB5;" type="submit">Log In</button>
                    </form>
                </div>
            </div>
        </nav>

        {% block content %} {% endblock content%}
  </body>
</html>
